{% extends "base.html" %}
{% load staticfiles %}
{% block header %}
{% csrf_token %}
<link rel="stylesheet" href="{% static "style.css" %}">
<script src="{% static "script.js"%}"></script>
{% endblock %}
{% block content %}
<div id="index-content">
    <div id="corpora-area">
        <h2 id="corpora-title">Uploaded Corpora</h2>
        <div id="corpus-list">
            {% for corpus in corpora %}
            <div class="corpus" id="corpus-{{ corpus.id }}" onclick="showAnalysisModal({{ corpus.id }}, '{{ corpus.name }}')">{{ corpus.name }}</div>
            {% endfor %}
        </div>
        <div id="upload-button" onclick="showUploadModal()">Upload New Corpus</div>
    </div>
    <div id="results-area">
        <h2 id="results-title">Topic Modeling Results</h2>
        <div id="result-list">
            {% for result in results %}
            <a href="results/{{ result.id }}"><div class="result" id="result-{{ result.id }}">{{ result.name }}</div></a>
            {% endfor %}
        </div>
        {% comment %} <div id="new-analysis-button">Run New Analysis</div> {% endcomment %}
    </div>
</div>
<div id="upload-modal" class="modal">
    <div class="modal-content">
        <form action='/upload_corpus/' method='post' enctype="multipart/form-data">
            {% csrf_token %}
            <div class="field-wrapper">
                <label for="corpus-name-input">Corpus Name:</label>
                <input id="corpus-name-input" name="corpus-name-input" type="text" required>
            </div>
            <div class="field-wrapper">
                <label for="corpus-files-input">Text Files:</label>
                <input id="corpus-files-input" name="corpus-files-input" type="file" accept=".txt" multiple required>
            </div>
            <input id="corpus-upload-submit" type="submit" value="Upload">
        </form>
    </div>
</div>
<div id="analysis-modal" class="modal">
    <div class="modal-content">
        <h3 id="corpus-name"></h3>
        <div class="field-wrapper">
            <label for="analysis-name-input">Analysis Name:</label>
            <input id="analysis-name-input" name="analysis-name-input" type="text" required>
        </div>
        <div class="field-wrapper">
            <label for="topic-number-input">Number of Topics:</label>
            <input id="topic-number-input" name="topic-number-input" type="number" min="1" value="10" required>
        </div>
        <input id="corpus-id-input" name="corpus-id-input" type="text" hidden>
        <button id="analysis-submit" onclick="submitAnalysis()">Run Analysis</button>
    </div>
</div>
{% endblock %}